
body
{
    
    padding:0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    
    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
  }

  form{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:1em;
      height: 40vh;
      width: 37vh;
      position: absolute;
     
      
  }

  input{
      
    width: 57%;
    padding: 7px;
    margin: 0 auto;
    
    border: 1px solid 000;
    border-color: transparent;
    font-size: 15px;
    padding-left:35px;
  }

  .detail-heading{
      text-align: center;
  }

  .form-img{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:1em;

  }

  nav{
      float: right;
      display: flex;
  }

  button
  {
      height: 8%;
      width: 30%;
      
      border:1px solid 000;
      position: absolute;
      bottom: 10%;
      background-color:azure;
      font-size: 10px;
      
  }
  h1
{
    font-size: 5vh;
    text-align: center;
    position: absolute;
    top:8%;
    left: 37%;
    
    
    
}
img{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.SignUp
{
    align-content: center;
     position: absolute;  
     height: 45vh;
     width: 37vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap:1em;
     
      border-style: groove;
     top: 30%; 
     left: 41%;
     background-color:transparent;
     
}
.LogIn
{
    align-content: center;
     position: absolute;  
     height: 40vh;
     width: 37vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap:1em;
     
      border-style: groove;
     top: 30%; 
     left: 41%;
     background-color:transparent;
}
.LogIn form{
    display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:1em;
      height: 40vh;
      width: 37vh;
      position: absolute;

}



h2
{
    position: absolute;
  top: 5%;
  font-size: 30px;
}
.Main
{
    position: relative;
    align-content: center;
}
li{
    font-size: larger;
    position: relative;
    
}
.userInfo
{
    align-content: center;
     position: absolute;  
     height: 45vh;
     width: 37vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap:1em;
     
      border-style: groove;
     top: 30%; 
     left: 41%;
     background-color:transparent;
     
}