body{
    background-image: url("https://img.freepik.com/free-photo/brain-blue-background_74945-20.jpg?w=1480");
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
  }

  form{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:1em;
  }

  input{
      width:220px;
      height:20px;
  }

  .detail-heading{
      text-align: center;
  }

  .form-img{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap:1em;

  }

  nav{
      float: right;
      display: flex;
  }
