<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Detail</title>
</head>
<body>
    <h1>Enter Your Details</h1>
    <div class="userInfo">
    <form  action="/detail"  method="post">
        <input type="text" name="name" id="dt" placeholder="Name">
        <input type="number" name="age" id="dt" placeholder="Age">
        <select name="gender" id="dt">
            <option value="">Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <select name="type" id="dt">
            <option value="BT">BRAIN TUMOR</option>
            <option value="LT">LUNG TUMOR</option>
            <option value="KT">KIDNEY TUMOR</option>
        </select>
        <input type="text" name="drName" id="dt"  placeholder="Doctor's Name">
        <button type="submit">Next</button>
    </form>
    </div>
</body>
</html>